mixin crumb(name, url, currentPage, title) 
	if currentPage
		li #{name}
	else if url
			li
				a(href=url, title=title) #{name}

ul.breadcrumb
	+crumb(cityName, cityUrl, null, cityTitle)
	+crumb(categoryName, categoryUrl, categoryPage, categoryTitle)
	+crumb(rubricName, rubricUrl, rubricPage, rubricTitle)
	+crumb(orgName, orgUrl, orgPage, orgTitle)
	+crumb(reviewName, null, reviewPage, null)