script(type="text/javascript", src="/dist/js/jquery.min.js")
script(type="text/javascript", src="/dist/js/bootstrap.min.js")
script(src="http://api-maps.yandex.ru/2.0/?load=package.full&mode=release&lang=ru-RU" 
type="text/javascript")