extends /layouts/default.pug
block title
	// TODO move titles to title.pug
	include /includes/urls
	title #{cityTitle}
block body
	include /includes/urls
	.content-section-b
		.container
			ul
				each category in categories
					li 
						a(href='/' + category.alias) #{category.name}
