extends /layouts/default.pug

block body
	.content-section-b
		.container
			include /includes/urls

			ul
				each category in categories
					li 
						a(href='/' + category.alias) #{category.name}
