.content-section-b {
	padding: 70px 0; 
}

.element h5{
    min-height: 50px;
    text-align: center;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}